/* 全体設定 */
body {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 768px;
}

a {
    text-decoration: none;
}

input {
    border: 1px solid #6a9482;
    border-radius: 3px;
    font-size: 102%;
    padding: 5px;
    width: 100%;
}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 102%;
    padding: 5px 20px;
}


main div {
    border: 1px solid #6a9482;
    margin: 5px;
    padding: 5px;
}

main span {
    border: 1px solid #a914ff;
    margin: 10px;
}


li {
    margin-left: 10px;
}

/* フォーム関連 */
.form__content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.form__main {
    width: 500px;
}

.form__main h2 {
    text-align: center;
}

.form__main h3 {
    border-bottom: 1px solid #666;
    color: #666;
    margin: 10px 0;
}

.form__main h4,
.form__main h5 {
    margin: 2px 0;
}

.form__main input {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    width: 100%;
}

.form__main button {
    background: #ff5555;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 102%;
    margin-top: 30px;
    padding: 5px 20px;
    width: 100%;
}

.form__main button:hover {
    background: #cc4343;
}

.form__main h5 {
    font-size: 90%;
    font-weight: normal;
    text-align: center;
}

.form__main select {
    font-size: 102%;
    padding: 5px;
    width: 49%;
}

.form__main textarea {
    font-size: 120%;
    height: 120px;
    padding: 5px;
    resize: none;
    width: 100%;
}

/* バリデーションエラー関連 */
.form__error {
    color: #ff5555;
    font-size: 90%;
    padding-left: 10px;
}


/* プロフィールアイコンの部分 */
.user-content {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.icon-content {
    align-items: center;
    display: flex;
}

.icon-content button {
    background-color: #fff;
    border: 1px solid #ff5555;
    border-radius: 3px;
    color: #ff5555;
    cursor: pointer;
    font-size: 102%;
    margin-left: 10px;
    padding: 5px 20px;
}

.icon img {
    background-color: #fff;
    border: none;
    height: 120px;
    max-height: 120px;
    max-width: 120px;
    object-fit: contain;
    width: 120px;
}

/* 出品画像の部分 */
.item {
    text-align: center;
}

.item button {
    background-color: #fff;
    border: 1px solid #ff5555;
    border-radius: 3px;
    color: #ff5555;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 20px;
    width: 200px;
}

.item img {
    background-color: #fff;
    border: none;
    display: block;
    height: 200px;
    margin: 0 auto;
    max-height: 200px;
    max-width: 300px;
    object-fit: contain;
    width: 300px;
}






select {
    font-size: 102%;
    width: auto;
}

textarea {
    font-size: 110%;
    height: 80px;
    resize: none;
    width: 100%;
}

/* 切替コンテンツ関連 */
.content {
    border: 1px solid #6a9482; /* あとでnoneに変える */
    display: none;
    padding: 35px;
}

.s_content {
    border: 1px solid #6a9482; /* あとでnoneに変える */
    display: block;
    padding: 35px;
}

.content__menu {
    cursor: pointer;
}

.content.active {
    display: block;
}

.content__img {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 200px;
    grid-gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content img {
    background-color: #fff;
    border: none;
    height: 100%;
    max-height: 200px;
    max-width: 300px;
    object-fit: cover;
    width: 100%;
}

/* コメント表示関連 */
.icon-content2 {
    align-items: center;
    display: flex;
}

.icon2 img {
    background-color: #fff;
    border: none;
    height: 30px;
    max-height: 30px;
    max-width: 30px;
    object-fit: contain;
    width: 30px;
}
