body {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 768px;
}

a {
    text-decoration: none;
}

input {
    border: 1px solid #6a9482;
    border-radius: 5px;
    font-size: 102%;
    padding: 5px;
    width: 100%;
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 102%;
    padding: 5px 20px;
}


main div {
    border: 1px solid #6a9482;
    margin: 10px;
    padding: 5px;
}

main span {
    border: 1px solid #a914ff;
    margin: 10px;
}


li {
    margin-left: 10px;
}


/* バリデーションエラー関連 */
.form__error {
    color: #ff5555;
    font-size: 90%;
}

/* プロフィールアイコンの部分 */
/* 出品画像の部分 */
.user-content {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.icon-content,
.item-content {
    align-items: center;
    display: flex;
}

.icon-content button,
.item-content button {
    background-color: #fff;
    border: 1px solid #ff5555;
    border-radius: 5px;
    color: #ff5555;
    cursor: pointer;
    font-size: 102%;
    margin-left: 10px;
    padding: 5px 20px;
}

.icon img {
    background-color: #fff;
    border: none;
    height: 120px;
    max-height: 120px;
    max-width: 120px;
    object-fit: contain;
    width: 120px;
}

.item img {
    background-color: #fff;
    border: none;
    height: 200px;
    max-height: 200px;
    max-width: 300px;
    object-fit: contain;
    width: 300px;
}

select {
    font-size: 102%;
    width: auto;
}

textarea {
    font-size: 110%;
    height: 80px;
    resize: none;
    width: 100%;
}

/* 切替コンテンツ関連 */
.content {
    border: 1px solid #6a9482; /* あとでnoneに変える */
    display: none;
    padding: 35px;
}

.content__menu {
    cursor: pointer;
}

.content.active {
    display: block;
}

.content__img {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 200px;
    grid-gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content img {
    background-color: #fff;
    border: none;
    height: 100%;
    max-height: 200px;
    max-width: 300px;
    object-fit: cover;
    width: 100%;
}