body {
    margin: 0 auto;
    max-width: 1500px;
    min-width: 768px;
}

header {
    background: #000;
    color: #fff;
    height: 60px;
    padding: 10px 30px;
}

div {
    border:1px solid #6a9482;
    margin: 10px;
    padding: 5px;
}

span {
    border: 1px solid #a914ff;
    margin: 10px;
}

li {
    margin-left: 10px;
}