header {
    align-items: center;
    background: #000;
    color: #fff;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 10px 30px;
}

header div {
    height: 100%;
    margin: 0 5px;
    padding: 0;
    white-space: nowrap; /* 改行しない */
}

header a {
    color: #fff;
}

header a:hover {
    color: #ff5555;
}

header img {
    background-color: #000;
    max-height: 100%;
}

header input {
    font-size: 105%;
    height: 100%;
    margin: 0;
    padding: 10px;
    width: 400px;
}

header span {
    margin-right: 20px;
}

header button {
    background: #fff;
    font-size: 105%;
    height: 100%;
    padding: 0 20px;
}

header button:hover {
    background: #ff5555;
    color: #fff;
}

/* レスポンシブデザイン */
@media screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

    header div {
        flex: 1 1 auto;
        margin: auto 0;
    }

    header img {
        height: auto;
        margin: 5px 0;
        width: 320px;
    }

}
